.home-container {
    background-color: #D9DDDC;
    height: 100%;
    padding: 6rem;
}

.contents {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    grid-gap: 10px;

    /* border: 1px solid black; */

    margin: 1px;

    padding: 10px;

    height: 100px;
}

.item {
    /* border: 1px solid black; */
    height: 18rem;
}

.home-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img-top {
    height: 5rem;
    width: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}