.home-container {
    background-color: #D9DDDC;
    height: 100%;
    padding: 6rem;
}

.contents {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    justify-content: center;
}

.item {
    /* flex-basis: 25%; */
    border: 1px solid black;
    height: 18rem;
}

.home-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img-top {
    height: 5rem;
    width: 5rem;
}