.header-container {
    grid-area: header;
}

.header-color {
    background-color: #0B0C10;
    color: #45A29E;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 15px;
    font-weight: bold;

    padding: 10px;
}

.nav_items input {
    margin-right: 5px;
}

.noline {
    color: inherit;
    text-decoration: none;
    padding-right: 20px;
}