.header-container {
    grid-area: header;
}

.header-color {
    background-color: #0B0C10;
    color: #45A29E;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 15px;
    font-weight: bold;

    padding: 10px;
}

.nav_items input {
    margin-right: 5px;
}

.title-search {
    display: flex;
    align-items: center;
}

/* get rid of these three if not needed */
.title-div {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.header-logo {
    height: 2.5rem;
}

#title {
    display: inline;
}