.r-container {
    background-color: #D9DDDC;
    padding: 6rem;
}

.r-header {

}

.r-description {
    font-size: larger;
    background-color: white;
}

.r-description div {
    margin-bottom: 2rem;
}