.layout-container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: auto 80rem auto;
    grid-template-areas: 
        "header header "
        "sidebar content"
        "footer footer"
    ;
}