.sidebar-container {
    grid-area: sidebar;
}

/* The sidebar menu */
.sidenav {
    height: 100%;
    background-color: #1F2833;
    /* Black */

    overflow-x: hidden;
    /* Disable horizontal scroll */

    padding-top: 20px;
}

/* The navigation menu links */
/* after changing all anchor tags in sidebar into Links, 
   delete this */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #9bc7ff;
    display: block;
    text-align: left;
}

.sidenav Link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #9bc7ff;
    display: block;
    text-align: left;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #62a6ff
}